<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %> </title>
  </head>
  <body>

    <h1>About Us</h1>
    <p>
      This is about page.
    </p>

  </body>
</html>
