<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | Help</title>
  </head>
  <body>

    <h1>Help</h1>
    <p>
      Get the help on the RoR tutorial.
    </p>
  </body>
</html>
